$background: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);
$sedan: hsl(31, 77%, 52%);
$suv: hsl(184, 100%, 22%);
$luxury: hsl(179, 100%, 13%);

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  background-color: $background;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
}

main {
  margin: 88px 24px;
  display: grid;
}

.sedan {
  background-color: $sedan;
  border-radius: 8px 8px 0 0;
}

.suv {
  background-color: $suv;
}

.luxury {
  background-color: $luxury;
  border-radius: 0 0 8px 8px;
}

.card {
  padding: 48px 49px;

  &__heading {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    color: $background;
    margin-top: 35px;
    margin-bottom: 0;
  }

  &__para {
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.563rem;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  &__button {
    background: $background;
    border-radius: 25px;
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.563rem;
    padding: 9px 29.6px 10px;
    margin-top: 25px;
    border: 2px solid $white;

    &:hover {
      border: 2px solid $white;
      cursor: pointer;
      color: $white;
    }

    &--sedan {
      color: $sedan;

      &:hover {
        background-color: $sedan;
      }
    }

    &--suv {
      color: $suv;

      &:hover {
        background-color: $suv;
      }
    }

    &--luxury {
      color: $luxury;

      &:hover {
        background-color: $luxury;
      }
    }
  }
}

@media (min-width: 1440px) {
  main {
    margin: 171px 260px 129px;
    grid-template-columns: repeat(3, 1fr);
  }

  .sedan {
    border-radius: 8px 0 0 8px;
  }

  .luxury {
    border-radius: 0 8px 8px 0;
  }

  .card {
    padding: 48px;

    &__button {
      margin-top: 83px;
    }
  }
}
